.breadcrumbs {
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  margin-top: 45px;
}

.breadcrumbs__item {
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__item:after {
  content: "/";
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__link {
  color: #ec1e79;
}

.breadcrumbs__link--active {
  color: #221f1f;
  text-decoration: none;
}

.breadcrumbs__list {
  padding: 0px;
}
